@tailwind base;

:root {
    color-scheme: dark;
  }

 body {
    background-color: #070508;
    overflow-x: hidden;
  }
  

  
  @media (max-width: 420px) {
    html, body {
      overflow-x: hidden;
      background-color: #070508;
    }
  }



@tailwind components;
@tailwind utilities;