@tailwind base;

:root {
    color-scheme: dark;
  }

 body {
    background-color: #070508;
    position: relative;
  }
  
  body {
    position: relative;
  }
  
  @media (max-width: 420px) {
    html, body {
      overflow-x: hidden;
      background-color: #070508;
      position: relative;
      -webkit-backface-visibility: hidden;
    }
  }



@tailwind components;
@tailwind utilities;